body {
	overflow-y: hidden;
}

table {
    border-collapse: collapse;
}

.carre {
    width: 150px;
    height: 150px;
}

#titre {
    left: 0px;
    top: 0px;
    text-align: center;
    width: 100%;
    display: block;
    font-family: 'Calibri';
    font-size: 70px;
    padding-top: 10px;
    color: black;
}

#case1 {
    border-right: solid 10px black;
    border-bottom: solid 10px black;
}

#case2 {
    border-right: solid 10px black;
    border-bottom: solid 10px black;
    border-left: solid 10px black;
}

#case3 {
    border-bottom: solid 10px black;
    border-left: solid 10px black;
}

#case4 {
    border-right: solid 10px black;
    border-bottom: solid 10px black;
    border-top: solid 10px black;
}

#case5 {
    border: solid 10px black;
}

#case6 {
    border-left: solid 10px black;
    border-bottom: solid 10px black;
    border-top: solid 10px black;
}

#case7 {
    border-right: solid 10px black;
    border-top: solid 10px black;
}

#case8 {
    border-right: solid 10px black;
    border-left: solid 10px black;
    border-top: solid 10px black;
}

#case9 {
    border-left: solid 10px black;
    border-top: solid 10px black;
}

.jeu {
    margin-top: 20px;
    text-align: center;
}

#center {
    margin: 0 auto;
}

#result {
    font-family: 'Calibri';
    border: 2px solid #000;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 400px;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    background-color: #dddd;
}

@keyframes animateHide {
    0% {
        filter: blur(0);
    }
    100% {
        filter: blur(10px);
    }
}

@keyframes animateShow {
    0% {
        opacity: 0;
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

a {
    text-decoration: none;
    color: red;
}

#audio {
	position: absolute;
	bottom: 0;
	right: 0;
}